! This file controls the behavior of urxvt

! General settings
URxvt.saveLines: 5000
URxvt.scrollBar: False
URxvt.scrollStyle: rxvt
URxvt.scrollWithBuffer: True
URxvt.scrollTtyKeypress: True
URxvt.termName: xterm-256color
URvxt.urgentOnBell: True
URxvt.cursorBlink: True


! URxvt.transparent: True
! URxvt.shading: 40

URxvt.depth:    32
URxvt.background:   rgba:0000/0000/0000/a800

URxvt.borderless: True

URxvt.font:     xft:Hack-Regular:pixelsize=14,xft:Symbola
URxvt.boldFont:     xft:Hack-Bold:pixelsize=14,weight=bold,xft:Symbola
URxvt.italicFont:   xft:Hack-RegularOblique:pixelsize=14:slant=italic,xft:Symbola

! URxvt.font:         xft:overpass-mono-regular:pixelsize=10
! URxvt.boldFont:     xft:overpass-mono-bold:pixelsize=10
! URxvt.italicFont:   xft:overpass-mono-italic:size=10


! Dracula Xresources palette
URxvt.foreground: #F8F8F2
! URxvt.background: #282A36
URxvt.color0:     #000000
URxvt.color8:     #4D4D4D
URxvt.color1:     #FF5555
URxvt.color9:     #FF6E67
URxvt.color2:     #50FA7B
URxvt.color10:    #5AF78E
URxvt.color3:     #F1FA8C
URxvt.color11:    #F4F99D
URxvt.color4:     #BD93F9
URxvt.color12:    #CAA9FA
URxvt.color5:     #FF79C6
URxvt.color13:    #FF92D0
URxvt.color6:     #8BE9FD
URxvt.color14:    #9AEDFE
URxvt.color7:     #BFBFBF
URxvt.color15:    #E6E6E6


URxvt.perl-ext-common:  font-size


! URxvt.keysym.C-Escape:  perl:keyboard-select:activate
URxvt.keysym.C-Up:      font-size:increase
URxvt.keysym.C-DOwn:    font-size:decrease
